.recipes_wrapper {
    margin-top: 180px;
}

.recpes_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.04em;
    color: #000;
    text-align: center;
    margin-bottom: 24px;
}

.recipes_decription {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);

}


.recipes_article {
    padding: 16px;
    border-radius: 30px;
    width: 400px;
    height: 434px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
}

.recipes_desc {
    padding: 8px;
    margin-top: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #000;
}

.recipes_help {
    margin-top: 12px;
    background: none;
    display: flex;
    gap: 24px;
}


.recipes_grid {
    padding-top: 90px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.recipes_grid::after {
    content: '';
    grid-column: 3;
    /* занимает 3-ю колонку во 2-м ряду */
    grid-row: 2;
    /* делает ячейку "невидимой" */
}

