.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 16px;
    width: 200px;
    height: 60px;
    background: #000;

}

.text_btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fff !important;
}

.btn:hover {
    background: var(--hover);
    cursor: pointer;
    transition: 0.3s;
}